nascar_prediction_workflow_clean.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.sportsdata.io/v4/nascar/scores/json/Races",
        "method": "GET",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Ocp-Apim-Subscription-Key",
              "value": "{{ $env.NASCAR_API_KEY }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Fetch Race Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\n                return items.map(item => {\n                  const race = item.json;\n                  return {\n                    json: {\n                      raceId: race.RaceID,\n                      name: race.Name,\n                      date: race.Date,\n                      track: race.Track,\n                      series: race.Series,\n                      season: race.Season\n                    }\n                  };\n                });\n                "
      },
      "id": "3",
      "name": "Extract Basic Race Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\n                return items.map(item => {\n                  const avgFinishLast5 = 7.2;\n                  const qualifyingPos = 12;\n                  const momentumScore = 100 - avgFinishLast5 * 2;\n                  return {\n                    json: {\n                      ...item.json,\n                      avgFinishLast5,\n                      qualifyingPos,\n                      momentumScore\n                    }\n                  };\n                });\n                "
      },
      "id": "4",
      "name": "Feature Engineering",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://your-model-api.com/predict",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{{ $json }}"
      },
      "id": "5",
      "name": "Run ML Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "your-google-sheet-id",
        "range": "Predictions!A1",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "valueInputMode": "USER_ENTERED"
      },
      "id": "6",
      "name": "Store to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Race Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Race Data": {
      "main": [
        [
          {
            "node": "Extract Basic Race Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Basic Race Info": {
      "main": [
        [
          {
            "node": "Feature Engineering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Engineering": {
      "main": [
        [
          {
            "node": "Run ML Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run ML Model": {
      "main": [
        [
          {
            "node": "Store to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "name": "NASCAR Prediction Workflow",
    "version": 1
  },
  "versionId": "1"
}